In [3]:
#Data ----> very much flexible with data----> Analaysis---> Machine learning---> Python

In [ ]:
# Template of Programming wrt{Python}

Step 1 : Create a variable.---> done
    
         types of variable 
         1 int--> 1,2,3
         2 Float ---> 1.1, 2.2
         3 STRING ---> "Param"
         4 Char----> 'A'
        
        If you want to store any value into the programming create varaible.

Step 2: assign some value to a variable.----> done
        =
    
Step 3 : Perform some logical , Arithmetic operation, Conditional operation to the variable.
    
                Logical Operation --> AND , OR 
                Arithmetic Operation ---> + - * / {BODMAS}
                Conditional Operation ---> if else , > ,< ,>= . <=, !=
                if --> elif
                
                sign off 11-08-2024
                
                tommorow : loops
                    
Step 4: Create a Output variable.
    
Step 5: assign the step number 3 value to output varaible.

Step 6: print the output variable.

In [16]:
# vote eligibility program in python : minage 18 maxage 100

# input age -> 18 ---> eligible ---> pass
# input age -> 17 ---> not eligible---> pass
# input age ->100 ---> eligible--->pass
# input age -> 101---> not eligible--->pass




minage=18
maxage=100

age=101

if age>maxage:                      
    print("Not Eligible")
elif age>=minage and age<= maxage:
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

In [ ]:
#Loops in python 
1. for loop 
2. while loop

In [1]:
# Syntax for for loop in python

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
in range(a,b)
a is always included 
b is b-1 included

range(10,20)
a=10
b=20-1=19

10---19

In [2]:
for i in range(11,20):    #a=11,b=19
    print(i)

11
12
13
14
15
16
17
18
19

In [3]:
for i in range(0,10):
    print(i)
    
    
x=1
while (x<=10):
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):-----> for 1 in range(1,11):
                                   print(i)--> print(1)
                            for 2 in range(1,11):
                                  print(i)---print(2)

In [5]:
# syntax for while loop
x=1
while (x<=10):
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
1
2
3
4
5
6
7
8
9
10

In [ ]:
x=1
while (1<=10):
    print(x)---> print(1)
    x=x+1--> x=1+1= 2
    
    
while (2<=10):
      print(x)--> print(2)
        x=x+1= x=2+1=3
        
while (3<=10):
      print(x)---> print(3)
      x=x+1= 3+1=4
    
    
while (4<=10):
      print(x)---> print(4)
      x=x+1= x=4+1= 5
    
while (5<=10):
      print(x)---> print(5)
      x=x+1=6
    
while (6<=10):
      print(x)---> print(6)
      x=7
while (7<=10):
      print(x)--> print(7)
      x=8
    
while (8<=10):
      print(x)--> print(8)
      x=9
while (9<=10):
       print(x)---> print(9)
       x=10
    
while (10<=10):
      print(x)---> print(10)
      x=11
    
while (11<=10):
      false

In [6]:
# 1-10 sum --> 1+2+3+4+...10 =?

sum=0
for i in range(1,11):
    sum=sum+i

print(sum)

55

In [ ]:
sum=0
for i in range(1,11):---> 1
    sum=sum+i
i=1

sum=sum+1--> 0+1=1
sum=1

i=2
sum=sum+2---> 1+2
sum=3

i=3
sum=sum+3
sum=6

i=4
sum=sum+i
sum=6+4=10

i=5
sum=sum+5
sum=10+5=15

i=6
sum=sum+i
sum=15+6=21

i=7

sum=sum+i
sum=21+7=28

i=8
sum=sum+i
sum=28+8=36

i=9
sum=sum+i
sum=36+9=45

i=10
sum=sum+i
sum=45+10 =55

In [13]:
# Q1. assignmemnt  is calculate 1-10 naturan number sum using while loop.
# Q2. 7,9,13 print the table using for loop and while loop.


for i in range(1,11):
    print("2 X",i,"=",i*2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [3]:
# Q1. assignmemnt  is calculate 1-10 naturan number sum using while loop.

sum=0
x=1
while(x<=10):
    sum=sum+x
    x=x+1
print("Sum of first natural number is: ", sum)

Sum of first natural number is:  55

In [4]:
 #Q2. 7,9,13 print the table using for loop and while loop.

for i in range(1,11):
    print("7 X",i,"=",i*7)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [5]:

x=1
while(x<=10):
    print("7 X",x,"=",x*7)
    x=x+1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [ ]:
# Data structures in Python
1. List------> []
2. Tuple------> ()
3. String-----> "param"
4. Dictionary---> {}
5. Set----> {}

In [ ]:
# List in Python

mylist=[]
we created a list type variable 

a=1
we created int type variable

b="Param"
we created string type variable

In [7]:
mylist=[1,2,1.1,1.2,"Param","Shergill",'A',(1,2)]
print(mylist)

[1, 2, 1.1, 1.2, 'Param', 'Shergill', 'A', (1, 2)]

In [ ]:
# Charstc. of List
1. List contain all types of data types means i can store int,string,float..., value inside the list
2. List is ordered type

In [ ]:
# List function in python
1. len()--> count of element present in the list
2. append()---> it will add the element at the last or end
3. remove()----> you can remove the value from the list based on the list element value
4. sort()---> sort the list on based on asc order
5. pop()-----> you can remove the value from the list based on index number
6. reverse()---> list reverse
7. insert()

In [9]:
mylist=[1,2,3,4,5,6]
len(mylist)
print(len(mylist))

6

In [11]:
mylist=[1,2,3,4,5,6]
mylist.append(0)
mylist

[1, 2, 3, 4, 5, 6, 0]

In [12]:
mylist=[1,2,3,4,5,6]
mylist.remove(3)
mylist

[1, 2, 4, 5, 6]

In [14]:
mylist=[1,2,3,4,5,6]
mylist.pop(4)
mylist

[1, 2, 3, 4, 6]

In [15]:
mylist=[22,4,56,3,7,445,566]
mylist.sort()
mylist

[3, 4, 7, 22, 56, 445, 566]

In [16]:
mylist=[1,2,3,4,5,6]
mylist.reverse()
mylist

[6, 5, 4, 3, 2, 1]

In [19]:
mylist=[22,4,56,3,7,445,566]
mylist.reverse()
mylist

[566, 445, 7, 3, 56, 4, 22]

In [28]:
mylist=[22,4,56,3,7,445,566]
mylist.sort()
mylist.reverse()
mylist

[566, 445, 56, 22, 7, 4, 3]

In [31]:
mylist=[1,2,3,4,5,6]
mylist.insert(1,20)
mylist

[1, 20, 2, 3, 4, 5, 6]

In [ ]:
mylist=[1,2,3,4,5]
give me the max value in a list
output --> 5

In [35]:
mylist=[1,999,2,3,100,4,5,789]
max=mylist[0]
for i in mylist:
    if max<i:
        max=i
print(max)

999

In [ ]:
# ASSIGMSNET IS MIN THE MINIMUM ---> FOR WHILE
#Q2 FINF THE TOTAL SUM OF MYLIST